doctype html
html
  head
    title About Randy
    link(rel="stylesheet",href="src/css/index.css")
  body
    #about.section
      .content
        .avatar
          img(src="src/images/avatar.jpg")
        .text Hey, 我是卢涛南（Randy），非常感谢你愿意在这里了解我是谁。
    #description.section Test

    script(src="src/js/index.js")
  