doctype html
html
  head
    title About Randy
    link(rel="stylesheet",href="src/css/index.css")
  body
    #about
      .content
        .avatar
          img(src="src/images/avatar.jpg")
        p.large Randy
        p.medium I'm a Fullstack engineer (best at front-end).
        p
          a#hire-btn(href="#") HIRE ME
    #description
      .content
        .title.center.large Who I'm
        .content
          p 我是 Randy (卢涛南)，出生于 1995 年，从 13 岁开始 coding 至今。
          p 我热爱阅读，热爱创造，热爱科技，热爱音乐。
    script(src="src/js/index.js")
