$main-color: #cf4646;


*{
  margin: 0;
  padding: 0;
}

html{
}

body{
  font-family: Karla,'Hiragino Sans GB','Microsoft YaHei',微软雅黑,STHeiti,'WenQuanYi Micro Hei',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f7f7;
}

p{
  margin-top: 12px;
}

.center{
  text-align: center;
}

.small{
  font-size: .9em;
}

.medium{
  font-size: 1.2em;
}

.large{
  font-size: 1.8em;
}

#hire-btn{
  display: inline-block;
  font-weight: bold;
  background-color: $main-color;
  border-radius: 4px;
  padding: 8px 12px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  transition: background-color .2s, color .2s;
}

#hire-btn:hover{
  background-color: #fff;
  color: $main-color;
}

#about{
  width: 100%;
  min-height: 512px;
  background-color: $main-color;
  text-align: center;
  padding-top: 128px;
  box-sizing: border-box;
  color: #fff;

  .content{

    ::selection{
      background-color: #fff;
      color: $main-color;
    }

    .avatar{
      img{
        border-radius: 50%;
        max-width: 150px;
        margin-bottom: 24px;
      }
    }

    #hire-btn{
      margin-top: 12px;
    }
  }
}

#description{
  background-color: #fff;
  padding: 64px 0;

  .content{
    width: 960px;
    margin: 0 auto;

    p{
      padding: 12px 0;
    }
  }

}